<div>products</div>

<div [formGroup]="searchForm">
  <div *ngFor="let field of formFields" class="inputParent">
    <div>{{ field.name }}</div>
    <input
      type="text"
      matInput
      formControlName="{{ field.controlName }}"
      placeholder="{{ field.name }}"
      class="loginInput"
    />
    <div>
      <mat-error>{{
        checkForErrorsIn(searchForm.get(field.controlName))
      }}</mat-error>
    </div>
  </div>

  <button
    class="loginButton"
    (click)="submit()"
    [disabled]="searchForm.status === 'INVALID'"
  >
    Search
  </button>

  <button
    class="loginButton"
    (click)="addItem()"
    [disabled]="searchForm.status === 'INVALID'"
  >
    add
  </button>
</div>

<div
  *ngFor="
    let item of collection
      | paginate : { itemsPerPage: 20, currentPage: p, totalItems: totalItems }
  "
>
  <app-product-item
    [item]="item"
    (deleteItemEvent)="deleteItem($event)"
    (updateItemEvent)="updateItem($event)"
  ></app-product-item>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
